body{
    /* background-color: rgb(0, 0, 0); */
    background-image: url(pngtree-tree-image-png-image_18124598.png);
    background-repeat: no-repeat;
    background-position: ;
}

.p1 {
     text-align: justify;
     text-indent: 2em;
     text-decoration: line-through double rgb(255, 0, 0) ;
}
.p2 {
     text-align: left;
}
.p3 {
     text-align: right;
}
.p4 {
     text-align: center;
     letter-spacing: 0.5px;                                                                                   
     word-spacing: 1p;
}
.dec1 {
     text-decoration: underline wavy rgb(79, 79, 255)
     ;
}
.x1 {
     text-decoration: underline double rgb(183, 58, 255);
}
.h1 {
     color: rgb(255, 228, 73);
     text-transform: uppercase;
}